{% extends "base.html" %}
{% block title %}Statistical Calculator | Isabella's Independent Study{% endblock %}
{% block content %}
<div class="container-fluid align-items-center justify-content-center">
    <form class="form" action="/" method="POST" name="form">
        {{ form.hidden_tag() }}
        <div class="initial-select">
            <h2><span class="highlight">Select an Existing Dataset</span></h2>
            {{ form.dataset }}
            <h2><span class="highlight">Enter Link to New Dataset</span></h2>
            {{ form.link }}
            <h2><span class="highlight">Upload Dataset (only .csv files accepted)</span></h2>
            {{ form.file_upload }}
            {{ form.go }}
        </div>
    </form>
</div>
{% endblock %}
{% block js %}
<script>
$('#function-select-field').on('change', function (e) {
    console.log("here");
    $('.dataset').hide();
    $(".stats").hide();
    $(".t-test").hide();
    if($("#function-select-field" ).val() == "scatterplot") {
        if($("#data-select-field" ).val() == "Survey_2020") {
            $(".2020survey-scatterplot").show();
        }
        else if($("#data-select-field" ).val() == "Redbook_Survey") {
            $(".redbooksurvey-scatterplot").show();
        }
        $(".stats").show();
    }
    else if($("#function-select-field" ).val() == "1_samp_t_test") {
        if($("#data-select-field" ).val() == "Survey_2020") {
            $(".2020survey-t-test").show();
        }
        else if($("#data-select-field" ).val() == "Redbook_Survey") {
            $(".redbooksurvey-t-test").show();
        }
        $(".t-test").show();
    }
    // if($("#data-select-field" ).val() == "Survey_2020") {
    //     $(".2020survey").show();
    // }
    // else if($("#data-select-field" ).val() == "Redbook_Survey") {
    //     $(".redbooksurvey").show();
    //     console.log("rbs");
    // }
});

$( document ).ready(function() {
    $('.dataset').hide();
    $(".stats").hide();
    $(".t-test").hide();
    $("#data-select-field option:selected").attr('disabled', 'disabled');
    $("#function-select-field option:selected").attr('disabled', 'disabled');
});
</script>
{% endblock %}